{{> head }}

  {{> navbar}}

    <div class="row">
        <h1>About</h1>
        <div class="col-8">
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Vero quo praesentium 
            doloremque quas id, qui blanditiis autem
             cum. Maxime, voluptatum impedit. 
             Voluptas quisquam in saepe velit vel
              minus earum numquam?
        </div>
        <div class="col-4">
            <img src="assets/img/LOGO2.png" class="img-thumbnail">
        </div>
    </div>

{{> footer}}